*,
*:before,
*:after {
  box-sizing: border-box;
}

body{overflow-x: hidden;}
body,html{background:#fafafa;color:#450c13;font-family: arial;line-height:1.3;margin:0;padding:0;}
.page{padding:20px;margin:auto; max-width:990px;}

header {
  border-bottom: 1px solid #999;
  padding-bottom: 1.5em;
}

header nav a {
	display: inline-block;
	margin-right: 1em;
}

header nav a:first-of-type {
	border-right: 1px solid;
	padding-right: 1em;
}

a[href]:focus {
	outline: 2px solid;
	outline-offset: 2px;
}
