

/*
  Tab Demo Specific
*/
.tab-container {
  border: 1px solid #ccc;
  position: relative; }
  .tab-container [tabindex="-1"] {
    box-shadow: none;
    outline: none; }

.tab-list {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: none;
  border: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
  .tab-list[aria-hidden="true"] {
    display: none; }
  .tab-list li {
    display: inline-block;
    -ms-flex: 1 1;
    -webkit-flex: 1 1;
    flex: 1 1;
    margin: 0;
    text-align: center; }
    .tab-list li:last-of-type .tab-list__item {
      border-right: none; }
  .tab-list__item {
    background: #f8f8f8;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    color: #4464c2;
    display: block;
    padding: 12px 16px;
    position: relative;
    text-decoration: none; }
    .tab-list__item:hover, .tab-list__item:focus {
      background: #4464c2;
      color: #fff;
      outline: none; }
    .tab-list__item > span {
      pointer-events: none; }
    .tab-list__item[aria-selected='true'], .tab-list__item.is-selected {
      background: #fff;
      border-bottom: 1px solid transparent;
      color: #979797;
      z-index: 2; }
      .tab-list__item[aria-selected='true']:hover, .tab-list__item[aria-selected='true']:focus, .tab-list__item.is-selected:hover, .tab-list__item.is-selected:focus {
        text-decoration: underline; }

.tab-panel {
  background: #fff;
  min-height: 200px; }
  .tab-panel[aria-hidden='true'], .tab-panel.is-hidden {
    display: none; }

.tab-panel:focus {
  box-shadow: inset 0 0 1px #222;
}

@media screen and (max-width: 700px) {
  .tab-list {
    display: block; }
    .tab-list li {
      border-bottom: none;
      border-top: none;
      display: block; }
      .tab-list li:first-of-type {
        border-top: none; }
    .tab-list__item {
      border-right: none; } }




/*
  off site no-js menus
*/

.no-js .tab-list {
  left: 0;
  position: absolute;
  top: 0;
}

.no-js .tab-panel {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.no-js .tab-list__item {
  left: -99999px;
  position: absolute;
  top: -100px;
}

.no-js .tab-list__item:focus {
  background: #333;
  left: 0;
  padding: 8px;
  top: 0;
  white-space: nowrap;
}






/*

  Tabs pinned to the side

*/

@media screen and (min-width: 660px) {
  .tab-container--side-tabs {
    overflow: hidden;
  }

  .tab-container--side-tabs > .tab-list {
    float: left;
    width: 300px;
  }

  .tab-container--side-tabs > .tab-list:after {
    background: #ccc;
    content: '';
    height: 100%;
    left: 300px;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
  }

  .tab-container--side-tabs > .tab-panel-container {
    float: left;
    width: calc(100% - 300px);
  }

  .tab-container--side-tabs > .tab-list li {
    display: block;
    -ms-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    text-align: left;
    width: 100%;
  }

  .tab-container--side-tabs > .tab-list .tab-list__item {
    border-right: none;
  }
}
